target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea
*.iml
.project
.classpath
.settings/
.vscode/
src/main/resources/application-local.yml
.env
docs/FRONT-AJUSTES-LOVABLE.md
docs/FRONT-BUSCA-DESCRICAO-SOLUCAO.md
